/* your styles go here */

.title {
  font-family: 'Yellowtail', cursive;
  margin-top: 175px;
}

.arrow a i {
  color: #ffffff;
  margin-left: 50%;
  margin-top: 300px;
}

body li {
  font-family: 'Yellowtail', cursive;
  font-style: normal;
}

body p{
  font-family: 'Open Sans', sans-serif;
}

body h2, h4{
  font-family: 'Hammersmith One', sans-serif;
}

.box img {
    filter: grayscale(100%);
}

.box img:hover {
    filter: grayscale(0);
}

.form-control{
  border-radius: 3px;
}

.btn{
  border-radius: 3px;
  font-family: 'Hammersmith One', sans-serif;
}

label {
  font-family: 'Open Sans', sans-serif;
}

.ekko-lightbox .modal-footer {
  font-family: 'Open Sans', sans-serif;
}
